/* Global styles */

@use '@fontsource-variable/outfit';

$font-ui: 'Outfit variable', 'system-ui', 'sans-serif';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-ui;
}

body {
  padding: 0;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #acb6e5, #74ebd5);
}
