/* Global styles */

@use '@fontsource-variable/outfit';

$font-ui: 'Outfit Variable', system-ui, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-ui;
}

body {
  background: linear-gradient(to right, #acb6e5, #74ebd5);
}
